---
import ParallaxHeader from "../components/ParallaxHeader.astro";
import WallSlide from "../components/WallSlide.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="Sina Karimi" />
    <meta name="keywords" content="Trend Hopper,Game,2D,DDR,Rhythm,itch.io" />

    <meta
      itemprop="description"
      content="a dress-up/rhythm game combo where you use style and dance to befriend the cliques at your school! Inspired by early 2000s flash games for girls, and is made with cheesy nostalgia in mind."
    />

    <link rel="icon" type="image/png" sizes="40x40" href="/favicon-40x40.png" />
    <title>Trend Hopper</title>

    <style global>
      @import "../styles/base.css";
      @import "../styles/lite-yt-embed.css";
    </style>

    <script type="module">
      function enableParallax() {
        const isMac =
          navigator.userAgentData?.platform.toLowerCase().includes("mac") ||
          navigator.platform?.toLowerCase().includes("mac");
        const isChrome = navigator.userAgent.toLowerCase().includes("chrome");

        // Laggy behavior on chrome and mac with parallax scrolling
        if (isMac && isChrome) return;

        const targets = document.querySelectorAll(".scroll");
        window.addEventListener("scroll", () => {
          const offset = window.scrollY / 40;
          targets.forEach((target) => {
            target.style.transform = `translateY(${
              offset * target.dataset.speed
            }px)`;
            if (target.classList.contains("trendLogo")) {
              target.style.transform = `translateX(${
                -offset * target.dataset.speed
              }px)`;
            } else if (target.classList.contains("hopperLogo")) {
              target.style.transform = `translateX(${
                offset * target.dataset.speed
              }px)`;
            }

            if (target.classList.contains("leftCurtain")) {
              target.style.transform = `translateX(${
                -offset * target.dataset.speed
              }px)`;
            } else if (target.classList.contains("rightCurtain")) {
              target.style.transform = `translateX(${
                offset * target.dataset.speed
              }px)`;
            }
          });
        });
      }

      enableParallax();
    </script>

    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer data-domain="amelitegame.com" src="/js/script.js"></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
  </head>
  <body>
    <ParallaxHeader />
    <WallSlide />
    <Main />
    <Footer />
  </body>
</html>
