<footer>
  <div class="container">
    <small>
      <div style="text-align:center;">
        <p>Game Design Document</p>
        <br />
        <iframe
          src="https://drive.google.com/file/d/1D4DFxjTqeQVtxQGPwaQc3MeFxeW-hurv/preview"
          width="600"
          height="500"
          frameborder="0"
          allow="autoplay"></iframe>
        <br />
        <a
          >Website by <a href="https://github.com/SinaKarimi95">Sina Karimi</a>
          <br />
          <br />
          <img
            class="companyLogo"
            src="/img/companyLogo.png"
            alt=""
            role="presentation"
            draggable="false"
            width="142"
            height="114"
          />
          <nav>
            <!-- <ul>
            <li><a href="https://discord.gg/q5zdWWdJvn">Discord</a></li>
            <li>
              <a href="https://www.facebook.com/amelite.sealhorsestudios/"
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/amelite.sealhorsestudios/"
                >Instagram</a
              >
            </li>
          </ul> -->
          </nav>
        </a>

        <style>
          footer {
            background-color: #802254;
            padding: 4em 0;
          }

          /* .container {
            max-width: 80ch;
            margin: auto;
            padding: 2ch;
            background-image: url("/public/img/companyLogo.png");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: 30%;
          } */

          nav {
            margin-top: 1em;
            font-size: 1.15rem;
          }

          small {
            font-size: 1.15rem;
          }

          ul {
            margin-top: 0.25em;
            display: flex;
            padding: 0;
            list-style-type: none;
            gap: 0.5em;
            flex-wrap: wrap;
            align-items: center;
          }

          footer a {
            display: inline-block;
            padding: 0.25em;
            margin-left: -0.25em;
          }

          footer a:hover,
          footer a:focus {
            text-decoration: none;
          }

          @media screen and (max-width: 500px) {
            .container {
              background-image: none;
            }

            footer {
              text-align: center;
            }

            ul {
              justify-content: center;
            }
          }
        </style>
      </div>
    </small>
  </div>
</footer>
