<footer>
  <div class="container">
    <small>
      <p>Game Design Document</p>
      <iframe
        src="https://docs.google.com/gview?url=https://file-examples.com/storage/fef89aabc36429826928b9c/2017/10/file-sample_150kB.pdf&embedded=true"
        style="width:600px; height:500px;"
        frameborder="0">GDD</iframe
      >
      <p></p>
      <a
        >Website by <a href="https://github.com/SinaKarimi95">Sina Karimi</a>
        <nav>
          <ul>
            <li>
              <a href="https://elliag.itch.io/trend-hopper">itch.io</a>
            </li>
          </ul>
          <!-- <ul>
            <li><a href="https://discord.gg/q5zdWWdJvn">Discord</a></li>
            <li>
              <a href="https://www.facebook.com/amelite.sealhorsestudios/"
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/amelite.sealhorsestudios/"
                >Instagram</a
              >
            </li>
          </ul> -->
        </nav>
      </a>

      <style>
        footer {
          background-color: #131012;
          padding: 4em 0;
        }

        .container {
          max-width: 80ch;
          margin: auto;
          padding: 2ch;
          background-image: url("/public/img/logoStudio.png");
          background-repeat: no-repeat;
          background-position-x: 50%;
          background-position-y: 100%;
        }

        nav {
          margin-top: 1em;
          font-size: 1.15rem;
        }

        small {
          font-size: 1.15rem;
        }

        ul {
          margin-top: 0.25em;
          display: flex;
          padding: 0;
          list-style-type: none;
          gap: 0.5em;
          flex-wrap: wrap;
          align-items: center;
        }

        footer a {
          display: inline-block;
          padding: 0.25em;
          margin-left: -0.25em;
        }

        footer a:hover,
        footer a:focus {
          text-decoration: none;
        }

        @media screen and (max-width: 500px) {
          .container {
            background-image: none;
          }

          footer {
            text-align: center;
          }

          ul {
            justify-content: center;
          }
        }
      </style>
    </small>
  </div>
</footer>
