<a href="https://scruffyhere.itch.io/dorothea-city">
  <img
    src="https://static.itch.io/images/itchio-textless-white.svg"
    alt=""
    role="presentation"
    width="34"
    height="34"
  />
  <span>Play on Itch.io</span>
</a>

<style>
  a {
    padding: 0.75em 1.5em 0.75em 1.2em;
    background: linear-gradient(to right, #ff69b4 5%, #aa336a 95%);
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
    font-size: 1.1em;
    justify-content: space-between;
    text-transform: uppercase;
  }

  a:hover,
  a:focus {
    background: linear-gradient(to right, #ff69b4 1%, #aa336a 50%);
    box-shadow: 0 0 16px 0 #8ed62944;
  }

  img {
    height: 1.25em;
    margin-right: 0.75em;
    width: auto;
  }

  @media screen and (max-width: 500px) {
    a {
      width: 100%;
    }
  }
</style>
