---
import Awards from "../components/Awards.astro";
import YouTube from "../components/YouTube.astro";
import Screenshot from "../components/Screenshot.astro";
import SteamButton from "../components/SteamButton.astro";
import ItchIoButton from "../components/ItchIoButton.astro";
import SocialMediaButton from "../components/SocialMediaButton.astro";
---

<main>
  <!-- <img
    class="background0"
    src="/img/parallax/bg0.png"
    alt=""
    role="presentation"
    draggable="false"
    width="1920"
    height="1080"
  /> -->
  <div id="content">
    <p class="hero">
      <strong>Trend Hopper</strong> is a dress-up/rhythm game combo where you use
      style and dance to befriend the <em>cliques</em> at your school! Inspired by
      early 2000s flash games for girls, and is made with cheesy nostalgia in mind.
    </p>
    <h2>Trailer</h2>
    <YouTube id="0F0BM-Qp1fE" alt="Play video: Trend Hopper trailer" />
    <ItchIoButton />
    <h2>About</h2>
    <p>
      Get ready to show off your style and rhythm skills in Trend Hopper! Choose
      the most stylish outfit for school and impress your peers to make new
      friends. Your clothing choices will affect your performance in the
      dance-off portion of the game. Raise your character's coolness level by
      racking up combos in the rhythm game. Experience the excitement now by
      using our Dance Pad or keyboard to play the game!
    </p>
    <!-- <ul class="socials">
			<li><SocialMediaButton text="Discord" linkUrl="https://discord.gg/q5zdWWdJvn" iconUrl="/img/discord-logo.svg" /></li>
			<li><SocialMediaButton text="Instagram" linkUrl="https://www.instagram.com/sealhorse.studios/" iconUrl="/img/instagram-logo.png" /></li>
			<li><SocialMediaButton text="Facebook" linkUrl="https://www.facebook.com/sealhorsestudios/" iconUrl="/img/facebook-logo.png" /></li>
		</ul> -->
    <h2>The team</h2>
    <p>
      We are a team of seven Game Design students from York University, with a
      shared passion for creating memorable gaming experiences. Our team
      comprises of individuals with unique skills and expertise, ranging from
      background art and visual effects to character design and programming.
      Meet our talented team members:
    </p>

    <ul class="team">
      <li>
        <img class="avatar" src="/public/img/team/team1.jpg" alt="Avatar" />
        <p>
          <strong><h2>Ashley Thong</h2></strong>Background Artist, UI Designer,
          Narrative Designer, VFX Artist
        </p>
      </li>

      <li>
        <img class="avatar" src="/public/img/team/team2.jpeg" alt="Avatar" />
        <p>
          <strong><h2>Ellia Godbout</h2></strong>Project Manager, Dance Pad
          Designer, Game Designer
        </p>
      </li>

      <li>
        <img class="avatar" src="/public/img/team/team3.jpeg" alt="Avatar" />
        <p>
          <strong><h2>Jaden Tseng</h2></strong>Character artist, Clothing
          Designer, UI Designer
        </p>
      </li>
    </ul>

    <ul class="team">
      <li>
        <img class="avatar" src="/public/img/team/team3.jpeg" alt="Avatar" />
        <p>
          <strong><h2>Ada Samiee</h2></strong>Character artist, Clothing
          Designer
        </p>
      </li>

      <li>
        <p>
          <img class="avatar" src="/public/img/team/team5.jpg" alt="Avatar" />
          <strong><h2>Sina Karimi</h2></strong>SFX Designer, Web Designer
        </p>
      </li>

      <li>
        <img class="avatar" src="/public/img/team/team6.jpeg" alt="Avatar" />
        <p><strong><h2>Marcus Sett</h2></strong>Programmer, Animator</p>
      </li>

      <li>
        <img class="avatar" src="/public/img/team/team7.jpeg" alt="Avatar" />
        <p>
          <strong><h2>Shaiyan Azim</h2></strong>Character Artist
        </p>
      </li>
    </ul>

    <h2>Music Credits</h2>
    <ul class="music">
      <li>
        <strong>Psychedelicacy</strong> by <a
          href="https://lucidsmogdisorder.com/home">Lucid Smog Disorder</a
        >
      </li>
      <li>
        <strong>Say Hello</strong> by <a
          href="https://www.youtube.com/channel/UC_hs8nnmgIQSCP1X4Wa940Q/videos"
          >Jason Nguyen (LILINA)</a
        > and <a href="https://soundcloud.com/benickerson/tracks"
          >Ben Nickerson (Benickerson)</a
        >
      </li>
      <li>
        <strong>Funk So What</strong> by Bronson Aguiar, Stephen Edwards, and Mateja
        Lasan
      </li>
    </ul>

    <h2>Screenshots</h2>
    <div class="screenshots">
      <Screenshot id={2} />
      <Screenshot id={3} />
      <Screenshot id={4} />
      <Screenshot id={5} />
    </div>
  </div>
  <ItchIoButton />

  <style>
    p {
      margin: auto;
      margin-bottom: 1.5em;
      text-align: center;
    }

    h2 {
      text-transform: uppercase;
      margin-top: 2em;
      margin-bottom: 0.25em;
      font-weight: 300;
      font-size: 1.25em;
      letter-spacing: 3px;
      text-align: center;
      line-height: 1em;
    }

    main {
      background-color: #9f2b68;
      position: relative;
      max-width: 1920px;
      margin: auto;
      padding-bottom: 4em;
    }

    .background0 {
      margin-top: -100%;
      width: 100%;
      padding-bottom: calc(2ch - 4px);
      user-select: none;
      pointer-events: none;
      height: 100%;
      z-index: -1;
    }

    .hero {
      margin-top: 1rem;
      text-align: center;
    }

    .hero strong {
      font-size: 1.2em;
    }

    #content {
      max-width: 80ch;
      margin: 0 auto;
      padding: 2ch;
      padding-top: 0;
    }

    ul.team {
      display: flex;
      flex-direction: row;
      list-style: none;
      align-items: center;
      line-height: 80%;
      justify-content: center;
    }

    ul.team li {
      left: 0;
      right: 0;
      padding: 5%;
      line-height: 1em;
      text-align: center;
    }

    ul.team img {
      margin: 0 auto;
    }

    ul.music {
      display: flex;
      list-style: none;
      text-align: center;
      padding: 1%;
    }

    .socials {
      text-align: center;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 1em;
      flex-wrap: wrap;
    }

    @media screen and (max-width: 500px) {
      .socials li {
        width: 100%;
      }
    }

    .screenshots {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      margin: 1em auto 3em auto;
      justify-content: center;
    }

    .avatar {
      float: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }
  </style>
</main>
